.wrap{

    height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
  padding: 10px;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  
  border-radius: 30px;
  margin-bottom: 170px;
}
::-webkit-scrollbar-thumb {
  background-color: #1F2937;
  border-radius: 30px;
}